<head>
    <% content_for :title do %>
        HIBTB - <%= @user.username %>
    <% end %>
</head>

<h1>This is in progress</h1>
Username: <%= current_user.username %><br>
Email: <%= current_user.email %>